body {
  background:radial-gradient(circle at top,#0f172a,#000);
  color:white;
  font-family:system-ui;
}

/* NAV */

.join-nav {
  padding:20px 80px;
}

/* PAGE */

.join-page {
  display:flex;
  justify-content:space-between;
  padding:120px;
}

.join-left h1 {
  font-size:70px;
}

.join-left span {color:#6366f1;}

.stats {
  display:flex;
  gap:50px;
  margin-top:40px;
}

.join-card {
  width:380px;
  background:#111;
  padding:40px;
  border-radius:30px;
}

.join-card input {
  width:100%;
  padding:14px;
  margin:12px 0;
  border-radius:20px;
  background:#222;
  border:none;
  color:white;
}

.two {
  display:flex;
  gap:12px;
}

.deploy {
  background:#a6ff4f;
  padding:16px;
  width:100%;
  border-radius:40px;
  border:none;
  margin-top:20px;
}

